@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	body {
		@apply text-gray-800;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6 {
		@apply text-balance tracking-tight leading-tight font-bold;
	}

	h1,
	.h1 {
		@apply text-4xl;
	}

	h2,
	.h2 {
		@apply text-2xl;
	}

	h3,
	.h3 {
		@apply text-xl;
	}

	h4,
	.h4 {
		@apply text-lg;
	}

	a {
		@apply text-blue-600 relative underline underline-offset-2 decoration-black/25 decoration-1 hover:text-blue-700 hover:decoration-current;
	}

	[disabled] {
		cursor: not-allowed;
		opacity: 0.6;
	}

	/* Remove all animations and transitions for people that prefer not to see them */
	@media (prefers-reduced-motion: reduce) {
		* {
			animation-duration: 0.01ms !important;
			animation-iteration-count: 1 !important;
			transition-duration: 0.01ms !important;
			scroll-behavior: auto !important;
		}
	}

	/* Override Cookie Consent button color */
	cookie-consent-banner button {
		@apply text-white;
	}

	form {
		@apply accent-blue-500;
	}

	label {
		@apply block text-inherit font-bold leading-none;
	}

	input[type='text'],
	input[type='password'],
	input[type='tel'],
	input[type='email'],
	input[type='number'],
	input[type='datetime-local'],
	input[type='date'],
	select,
	textarea {
		@apply appearance-none bg-white border rounded text-black block text-inherit text-base py-2 px-3 w-full;
	}

	input[type='text'][data-state='invalid'],
	input[type='password'][data-state='invalid'],
	input[type='tel'][data-state='invalid'],
	input[type='email'][data-state='invalid'],
	input[type='number'][data-state='invalid'],
	input[type='datetime-local'][data-state='invalid'],
	input[type='date'][data-state='invalid'],
	select[data-state='invalid'],
	textarea[data-state='invalid'] {
		@apply border-red-500;
	}

	input[type='text']:focus,
	input[type='password']:focus,
	input[type='tel']:focus,
	input[type='email']:focus,
	input[type='number']:focus,
	input[type='datetime-local']:focus,
	input[type='date']:focus,
	select:focus,
	textarea:focus {
		@apply border-blue-500 ring-2 ring-offset-1 ring-blue-100 outline-none;
	}
}

@layer utilities {
	.flow > * + * {
		margin-block-start: var(--flow-space, 1em);
	}
}
