---
import Base from '@layouts/Base.astro';
import Hero from '@components/Hero.astro';
---

<Base title="Home">
	<!-- delete -->
	<Hero
		title="G'day"
		description="Delete this content and get started building your website."
	>
		<div class="flex flex-wrap items-center justify-center gap-4">
			<a href="https://nova.resknow.co.uk">Component Library</a>
			<a href="https://tailwindcss.com/docs"> Tailwind Docs</a>
			<a href="https://alpinejs.dev/docs"> Alpine Docs</a>
			<a href="https://docs.astro.build"> Astro Docs</a>
		</div>
	</Hero>
	<!-- /delete -->
</Base>
