---
import util from '@src/util.js';

import Base from '@layouts/Base.astro';
import Container from '@components/Container.astro';
---

<Base title="Privacy Policy">
	<Container>
		<main class="prose mx-auto py-20">
			<header class="not-prose flow flow-space-1">
				<p class="text-xs uppercase text-gray-400">Last Updated: 5th July 2023</p>
				<h1 class="mt-0">Privacy Policy</h1>
			</header>
			<p>Replace this with your privacy policy.</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras viverra velit nisi, id pharetra libero
				sollicitudin sed. Phasellus semper ornare enim consequat scelerisque. Nunc vestibulum nunc at mauris
				scelerisque sagittis.
			</p>
			<p>
				Aliquam volutpat hendrerit quam, non vulputate lectus hendrerit tempor. Proin accumsan massa ac
				fermentum mattis. Donec blandit mauris at ex posuere, non mollis arcu tempor. Maecenas ut gravida
				mauris, ut semper nisl. Donec luctus pharetra est, vitae ullamcorper ipsum pharetra eu. Phasellus
				pretium, tellus vitae sagittis ultricies, ligula erat interdum sapien, vel pharetra mauris velit nec
				lorem. Cras vestibulum suscipit dolor, ut tempus nisl posuere eu.
			</p>
		</main>
	</Container>
</Base>
